<template>
  <div>
    <inertia-link
      class="btn w-10 h-10 text-teal-800 hover:bg-teal-900 hover:text-white p-2"
      :href="route(routeName, parmsName)"
      as="buttton"
    >
      <fa-icon icon="pen" />
    </inertia-link>

  </div>
</template>

<script>
import { computed, ref } from 'vue'
export default {
  name: 'EditItem',
  props: {routeName: String, parmsName: Object}
}
</script>

