<template>
  <authenticated-layout>
    <template #header>
      <div class="flex items-center justify-between">
        <h2 class="font-semibold text-xl text-gray-800 leading-tight">
          Cadastro de Usuários
        </h2>
        <inertia-link as="button" :href="route('users.index')" class="rounded hover:text-white hover:bg-coolGray-800 hover:shadow-lg transform ease-in-out duration-300 py-2 px-4 text-coolGray-800">Usuários</inertia-link>
      </div>
    </template>
    <div class="container-main">
      <div class="container-w-full">
        <div class="container-wrapper">
          <div class="p-6 bg-white border-b border-gray-200 flex justify-center">
            <form @submit.prevent="submit" class="w-full max-w-2xl ">
              <div class="flex flex-wrap -mx-3 mb-6 space-y-4">
                <div class="w-full bg-primary-1">
                    <text-grid name="name" label="Nome de usuário" v-model="form.name" :errorHot="errors.name" class="w-full" />
                </div>
                <div class="w-full">
                  <text-grid name="email" label="E-mail" v-model="form.email" :errorHot="errors.email" />
                </div>
                <div class="w-full">
                    <text-grid name="password" label="Senha" v-model="form.password" :errorHot="errors.password" />
                </div>
              </div>
              <div class="flex-center-center p-4 space-x-2 border-t border-teal-600">
                <button class="btn btn-save" type="submit">
                  <fa-icon icon="check">::before</fa-icon>
                  Salvar
                </button>
                <button v-if="form.id" class="btn btn-delete" >
                  <fa-icon icon="trash-alt">::before</fa-icon>
                  Excluir
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </authenticated-layout>
</template>

<script>
import { Inertia } from "@inertiajs/inertia";
import { useForm } from "@inertiajs/inertia-vue3";

import AuthenticatedLayout from "@/Layouts/Authenticated";
import TextGrid from "@/Components/Inputs/TextGrid.vue";

export default {
  name: "UsersForm",

  components: { AuthenticatedLayout, TextGrid },

  props: { user: Object, errors: Object },

  setup(props) {
    const form = useForm(props.user)

    function submit() {
      if (this.form.id) Inertia.patch(`/users/${this.form.id}`, this.form);
      else Inertia.post("/users", this.form);
    }

    return { form, submit }
  },
};
</script>
