<template>
    <authenticated-layout>
        <template #header>
          <div class="flex items-center justify-between">
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
              Listagem de Usuários
            </h2>
            <inertia-link as="button" :href="route('users.create')" class="rounded hover:text-white hover:bg-coolGray-800 hover:shadow-lg transform ease-in-out duration-300 py-2 px-4 text-coolGray-800">
              <fa-icon icon="plus">::before</fa-icon>
              Novo
            </inertia-link>
          </div>
        </template>
        <div class="container-main">
            <div class="container-w-full">
                <div class="container-wrapper">
                    <div class="container-item">
                        <user-item v-for="user in users.data" :key="user.id" :user="user" class="mb-1" />
                    </div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-center p-2">
            <pagination :links="users.links"/>
        </div>

    </authenticated-layout>
</template>

<script>
import AuthenticatedLayout from '@/Layouts/Authenticated'
import Pagination from "@/Components/Pagination.vue";
import UserItem from "./UserItem.vue";

export default {
    name: 'UsersIndex',
    components:{ AuthenticatedLayout, Pagination, UserItem },
    props: { users: Object },
    setup(props){

    }
}
</script>
