<template>
  <!-- bg-gradient-to-b from-gray-50 hover:from-gray-200" -->
    <div class="w-full p-2 shadow-sm rounded border bg-warmGray-50 hover:shadow-lg">
        <div class="flex justify-between space-x-2">
            <div class="text-gray-700 font-bold">{{ user.name }}</div>
            <div class="text-gray-700">{{ user.email }}</div>
            <div class="text-gray-700"><span class="rounded shadow bg-emerald-500 text-white px-1">Ativo</span></div>
            <div>
                <edit-item :parmsName="{'user':user.id}" routeName="users.edit" />
            </div>
        </div>
    </div>
</template>

<script>

import EditItem from '@/Components/Buttons/EditItem.vue'

export default {
    name: 'UserItem',
    components: { EditItem },
    props: { user: Object },

}
</script>
