<template>
    <breeze-authenticated-layout>
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Dashboard
            </h2>
        </template>

        <div class="pt-1 pb-2">
            <div class="w-full mx-auto px-1">
                <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
                    <div class="p-6 bg-white border-b border-gray-200">
                        <div class="grid grid-cols-10 gap-1 place-items-center">
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-50">emerald-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-100">emerald-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-200">emerald-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-300">emerald-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-400">emerald-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-500">emerald-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-600">emerald-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-700">emerald-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-800">emerald-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-emerald-900">emerald-900</div>                            
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-50">lime-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-100">lime-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-200">lime-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-300">lime-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-400">lime-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-500">lime-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-600">lime-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-700">lime-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-800">lime-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-lime-900">lime-900</div>
                            </div>
                            
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-50">teal-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-100">teal-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-200">teal-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-300">teal-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-400">teal-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-500">teal-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-600">teal-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-700">teal-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-800">teal-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-teal-900">teal-900</div>
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-50">yellow-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-100">yellow-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-200">yellow-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-300">yellow-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-400">yellow-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-500">yellow-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-600">yellow-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-700">yellow-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-800">yellow-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-yellow-900">yellow-900</div>
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-50">orange-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-100">orange-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-200">orange-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-300">orange-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-400">orange-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-500">orange-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-600">orange-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-700">orange-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-800">orange-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-orange-900">orange-900</div>
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-50">cyan-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-100">cyan-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-200">cyan-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-300">cyan-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-400">cyan-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-500">cyan-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-600">cyan-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-700">cyan-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-800">cyan-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-cyan-900">cyan-900</div>
                            </div>
                            
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-50">sky-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-100">sky-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-200">sky-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-300">sky-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-400">sky-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-500">sky-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-600">sky-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-700">sky-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-800">sky-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-sky-900">sky-900</div>
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-50">gray-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-100">gray-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-200">gray-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-300">gray-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-400">gray-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-500">gray-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-600">gray-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-700">gray-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-800">gray-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-gray-900">gray-900</div>
                            </div>
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-50">warmGray-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-100">warmGray-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-200">warmGray-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-300">warmGray-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-400">warmGray-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-500">warmGray-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-600">warmGray-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-700">warmGray-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-800">warmGray-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-warmGray-900">warmGray-900</div>
                            </div>
                            
                            <div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-50">coolGray-50</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-100">coolGray-100</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-200">coolGray-200</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-300">coolGray-300</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-400">coolGray-400</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-500">coolGray-500</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-600">coolGray-600</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-700">coolGray-700</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-800">coolGray-800</div>
                                <div class="text-xs text-center h-20 w-20 bg-coolGray-900">coolGray-900</div>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </breeze-authenticated-layout>
</template>

<script>
    import BreezeAuthenticatedLayout from '@/Layouts/Authenticated'

    export default {
        components: {
            BreezeAuthenticatedLayout,
        },
    }
</script>
