/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Fahkwang:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Buttons */

.btn {
  @apply focus:outline-none rounded;
  @apply transform ease-in-out duration-300;
}

.btn-save {
  @apply py-2 px-4 font-bold bg-teal-50;
  @apply hover:bg-teal-800 hover:text-teal-50 hover:shadow-lg;

}

.btn-delete {
  @apply bg-red-50 py-2 px-4 font-bold;
  @apply hover:bg-red-700 hover:text-red-50 hover:shadow-lg;
}

.active {
  @apply bg-teal-500 text-teal-50 font-semibold;
  @apply hover:bg-teal-600 hover:text-white;
  @apply focus:outline-none;
}

.alert-danger {
  @apply text-red-500 text-sm italic font-extralight;
}

.is-invalid {
  @apply border border-red-300 bg-red-50;
  @apply ring-1 ring-red-500;
}

.title-header {
  @apply font-semibold text-xl text-warmGray-800 leading-tight;
}

/* Containers */
.container-main {
  @apply pt-1 pb-2;
}

.container-w-full {
  @apply w-full mx-auto px-1;
}

.container-wrapper {
  @apply bg-white overflow-hidden shadow-sm sm:rounded-lg;
}

.container-item {
  @apply p-6 bg-white border-b border-gray-200;
}

.flex-center-center {
  @apply flex items-center justify-center;
}

/* Fim classes containers */
