<template>
  <div v-if="links.length > 3">
    <div class="flex flex-wrap">
      <div v-for="(link, p) in links" :key="p">
        <inertia-link
          v-if="link.url === null"
          class="mr-1 mb-1 px-3 py-2 text-xs leading-2 text-gray-400 border rounded disabled"
          v-html="link.label"
          href="#"
        />
        <inertia-link
          v-else
          class="mr-1 mb-1 px-3 py-2 text-xs leading-2 border rounded hover:bg-teal-700 hover:text-teal-100 focus:bg-teal-900 focus:ring-teal-500 focus:text-teal-50 focus:outline-none"
          :class="{ 'bg-teal-600 text-white font-semibold': link.active }"
          :href="link.url"
          v-html="link.label"
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Pagination",
  props: {
    links: Array
  }
};
</script>
