<template>
  <div class="block w-full ">

      <label :for="name" class="block uppercase tracking-wide text-xs font-bold mb-2">{{ label }}</label>

      <input
        :type="type"
        :id="name"
        :name="name"
        :value="modelValue"
        :class="{ 'is-invalid': errorHot }"
        @input="$emit('update:modelValue', $event.target.value)"
        class="
          shadow-md
          rounded
          filter drop-shadow
          border border-transparent
          focus:outline-none focus:ring-2 focus:ring-teal-600 focus:border-transparent
          w-full"
      />

      <div v-if="errorHot" class="alert-danger w-full">{{ errorHot }}</div>

  </div>
</template>

<script>

export default {
  name: "TextGrid",
  props: {
    type: {
      type: String,
      default: "text",
    },
    name: String,
    label: String,
    modelValue: String,
    errorHot: String,

  },
  emits: ["update:modelValue"],
};
</script>

<style>
</style>
