<template>
  <div class="min-h-screen bg-gray-100">
    <div class="flex flex-col bg-gray-100 h-full w-full">
      <nav class="flex-grow bg-white border-b shad border-gray-100">
          <!-- Primary Navigation Menu -->
          <div class="w-full mx-auto px-4 sm:px-6 lg:px-6">
              <div class="flex justify-between py-1">
                  <div class="flex">
                      <!-- Logo -->
                      <div class="flex-shrink-0 flex items-center">
                          <inertia-link :href="route('dashboard')">
                              <breeze-application-logo class="block h-9 w-auto" />
                          </inertia-link>
                      </div>

                      <!-- Navigation Links -->
                      <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                          <breeze-nav-link :href="route('dashboard')" :active="route().current('dashboard')">
                              Dashboard
                          </breeze-nav-link>
                      </div>
                  </div>

                  <div class="hidden sm:flex sm:items-center sm:ml-6">
                      <!-- Settings Dropdown -->
                      <div class="ml-3 relative">
                          <breeze-dropdown align="right" width="48">
                              <template #trigger>
                                  <span class="inline-flex rounded-md">
                                      <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition ease-in-out duration-150">
                                          {{ $page.props.auth.user.name }}

                                          <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                              <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                                          </svg>
                                      </button>
                                  </span>
                              </template>

                              <template #content>
                                  <breeze-dropdown-link :href="route('logout')" method="post" as="button">
                                      Log Out
                                  </breeze-dropdown-link>
                              </template>
                          </breeze-dropdown>
                      </div>
                  </div>

                  <!-- Hamburger -->
                  <div class="-mr-2 flex items-center sm:hidden">
                      <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                          <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                              <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                              <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                          </svg>
                      </button>
                  </div>
              </div>
          </div>

          <!-- Responsive Navigation Menu -->
          <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">
              <div class="pt-2 pb-3 space-y-1">
                  <breeze-responsive-nav-link :href="route('dashboard')" :active="route().current('dashboard')">
                      Dashboard
                  </breeze-responsive-nav-link>
              </div>

              <!-- Responsive Settings Options -->
              <div class="pt-4 pb-1 border-t border-gray-200">
                  <div class="px-4">
                      <div class="font-medium text-base text-gray-800">{{ $page.props.auth.user.name }}</div>
                      <div class="font-medium text-sm text-gray-500">{{ $page.props.auth.user.email }}</div>
                  </div>

                  <div class="mt-3 space-y-1">
                      <breeze-responsive-nav-link :href="route('logout')" method="post" as="button">
                          Sair
                      </breeze-responsive-nav-link>
                  </div>
              </div>
          </div>
      </nav>
      <div class="grid grid-cols-6 gap-0 h-full p-1">
        <aside class="min-h-full shadow bg-white ">
          <div class="flex flex-col items-center w-full pt-2 ">
            <inertia-link
            :href="route('dashboard')"
            class="text-base text-gray-700 hover:bg-gray-200 inline inline-flex px-2 w-full"
            :class="{'active': route().current('dashboard')}">
                Dashboard
            </inertia-link>
            <inertia-link
            :href="route('users.index')"
            class="text-base text-gray-700 hover:bg-gray-200 inline inline-flex px-2 w-full"
            :class="{'active': route().current('users.*')}">
                Usuários
            </inertia-link>
          </div>
        </aside>
        <div class="w-full col-span-5">
        <!-- Page Heading -->
          <header class="bg-white shadow-sm p-2" v-if="$slots.header">
            <div class="w-full mx-auto py-2 px-4 sm:px-6 lg:px-8">
              <slot name="header" />
            </div>
          </header>

          <!-- Page Content -->
          <main class="min-h-full w-full">
              <slot />
          </main>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BreezeApplicationLogo from '@/Components/Breeze/ApplicationLogo'
import BreezeDropdown from '@/Components/Breeze/Dropdown'
import BreezeDropdownLink from '@/Components/Breeze/DropdownLink'
import BreezeNavLink from '@/Components/Breeze/NavLink'
import BreezeResponsiveNavLink from '@/Components/Breeze/ResponsiveNavLink'

export default {
  name: 'AuthenticatedLayout',
  components: {
    BreezeApplicationLogo, BreezeDropdown, BreezeDropdownLink,
    BreezeNavLink, BreezeResponsiveNavLink
  },

  data() {
    return {
      showingNavigationDropdown: false,
    }
  },
}
</script>
